<template>
  <form
    @submit.prevent="send"
    class="form form_bg-gradient"
    id="form"
    method="POST"
    autocomplete="off"
    action="/send_form.php"
    target="_blank"
  >
    <div class="form__row">
      <div class="form__block form__block_label">
        <label class="form__label" for="form_name">Имя</label>
        <input
          v-model.trim="name"
          :class="{ 'form__input_disabled': disabledForm }"
          :disabled="disabledForm"
          class="form__input form__input_name"
          id="form_name"
          type="text"
          name="name"
        />
      </div>
      <div class="form__block form__block_label">
        <label class="form__label" for="form_email">Email</label>
        <input
          v-model.trim="email"
          :class="{ 'form__input_disabled': disabledForm }"
          :disabled="disabledForm"
          class="form__input"
          id="form_email"
          type="email"
          name="email"
          autocapitalize="none"
          autocorrect="off"
          spellcheck="false"
        />
      </div>
      <div class="form__block form__block_label">
        <label class="form__label" for="form_phone">Телефон</label>
        <input
          v-model.trim="phone"
          :class="{ 'form__input_disabled': disabledForm }"
          :disabled="disabledForm"
          class="form__input"
          id="form_phone"
          type="tel"
          name="phone"
        />
      </div>
    </div>
    <div class="form__row">
      <div class="form__block form__block_label">
        <label class="form__label form__label_required" for="form_message">Сообщение</label>
        <textarea
          v-model.trim="message"
          @focus="focus"
          @blur="blur"
          :class="{ 'form__textarea_disabled': disabledForm }"
          :disabled="disabledForm"
          class="form__textarea"
          id="form_message"
          required
          name="message"
          oninvalid="this.setCustomValidity('Напишите сообщение')"
          oninput="setCustomValidity('')"
        ></textarea>
      </div>
    </div>
    <div class="form__row form__row_bottom">
      <div
        v-if="!serverResponse"
        class="form__block form__block_button"
      >
        <button
          :class="{ 'button_send-animation button_disabled': disabledForm }"
          :disabled="disabledForm"
          class="button button_primary"
          type="submit"
        >Отправить</button>
      </div>
      <div class="form__info-block">
        <div
          v-if="!serverResponse"
        >
          <strong>По закону я должен предупредить:</strong>&ensp;отправляя свои данные, вы даете мне согласие на&nbsp;их&nbsp; <nuxt-link class="link" to="/privacy">обработку и&nbsp;хранение</nuxt-link>
        </div>
        <div
          v-else
          v-html="serverResponse"
          :class="{ 'form__response-text_active': activeText }"
          class="form__response-text"
        />
      </div>
    </div>
  </form>
</template>

<script>
import axios from 'axios'

export default {
  data: () => {
    return {
      name: null,
      email: null,
      phone: null,
      message: null,
      disabledForm: false,
      serverResponse: null,
      activeText: false,
      darker: null
    }
  },

  mounted() {
    if (localStorage.name) {
      this.name = localStorage.name
    }
    if (localStorage.email) {
      this.email = localStorage.email
    }
    if (localStorage.phone) {
      this.phone = localStorage.phone
    }
    if (localStorage.message) {
      this.message = localStorage.message
    }
  },

  watch: {
    name(newVal) {
      localStorage.name = newVal
    },
    email(newVal) {
      localStorage.email = newVal
    },
    phone(newVal) {
      localStorage.phone = newVal
    },
    message(newVal) {
      localStorage.message = newVal
    },
  },

  methods: {
    focus() {
      this.darker = setTimeout(() => {
        document.body.classList.add('bg-dark')
      }, 3000)
    },
    blur() {
      clearTimeout(this.darker)
      document.body.classList.remove('bg-dark')
    },
    clearLocalStorage() {
      let fields = [ 'name', 'email', 'phone', 'message' ]
      fields.map((field, i) => {
        localStorage.removeItem(field)
      })
    },
    send() {
      this.disabledForm = true
      let formData = {
        name: this.name,
        email: this.email,
        phone: this.phone,
        message: this.message
      }
      axios.post('/send_form.php', formData)
      .then((response) => {
        this.serverResponse = response.data
        setTimeout(() => {
          this.activeText = true
        }, 50)
        if (this.serverResponse == 'Сообщение отправлено!') { this.clearLocalStorage() }
      })
      .catch((error) => {
        this.serverResponse = response.data
        this.disabledForm = false
      })
    }
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';

.form {
  $input-horizontal-margin: 15px;

  display: block;
  margin-top: 0;
  margin-left: calc(-#{$wrapper-horizontal-padding} - 1%);
  margin-right: calc(-#{$wrapper-horizontal-padding} - 1%);
  margin-bottom: 0;
  padding: 25px calc(#{$wrapper-horizontal-padding} - #{$input-horizontal-margin}) 0;

  @media (min-width: $desktop) {
    margin-bottom: -15px;
  }

  @media print {
    display: none;
  }

  &_bg-gradient {
    background-image: linear-gradient(to bottom, $bg-gray 75%, white 100%);
  }

  &__row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $desktop) {
      flex-wrap: nowrap;
    }

    &_bottom {
      align-items: center;
      flex-direction: column-reverse;

      @media (min-width: $desktop) {
        flex-direction: row;
      }
    }
  }

  &__block {
    display: flex;
    margin: 0 $input-horizontal-margin 20px;
    width: 100%;

    &_label {
      flex-direction: column;
    }

    &_button {
      margin-top: 5px;
      margin-bottom: 0;
      width: auto;
    }
  }

  &__label {
    color: $lite-black;
    font-size: 16px;
    margin-left: 1px;
    margin-bottom: 5px;

    &_required {
      &::after {
        content: "*";
        color: $pink;
        font-weight: 700;
        margin-left: 3px;
      }
    }
  }

  &__input {
    $box-shadow-middle-keyframe: 0 0 30px 4px rgba(186, 80, 131, 0.25);
    $box-shadow-half-animation-duration: 0.2s;
    $main-transition: 0.15s ease-in;

    background-color: white;
    border: 1px solid #EDEDF5;
    border-radius: 3px;
    font-family: $font-family;
    outline: none;
    padding: 9px;
    transition: border-color $main-transition, background-color $main-transition, box-shadow $box-shadow-half-animation-duration ease-in;
    width: calc(100% - #{$input-horizontal-margin});
    -webkit-appearance: none;

    &:hover {
      border-color: #D2D2D9;
    }

    &:focus {
      animation: hide-shadow $box-shadow-half-animation-duration ease-out $box-shadow-half-animation-duration forwards;
      border-color: $pink;
      box-shadow: $box-shadow-middle-keyframe;
    }

    @keyframes hide-shadow {
      0% {
        box-shadow: $box-shadow-middle-keyframe;
      }

      100% {
        box-shadow: 0 0 150px 0 rgba(186, 80, 131, 0);
      }
    }

    &_disabled,
    &_disabled:hover,
    &_disabled:focus {
      background-color: #F5F5F5;
      border-color: #E6E6E6;
      color: #8A8A8A;
      cursor: not-allowed;
    }

    &_name {
      text-transform: capitalize;
    }
  }

  &__textarea {
    @extend .form__input;

    min-height: 125px;
    resize: vertical;

    &_disabled {
      @extend .form__input_disabled;
    }
  }

  &__info-block {
    color: $lite-black;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: $input-horizontal-margin;
    margin-right: $input-horizontal-margin;

    @media (min-width: $desktop) {
      margin-top: 5px;
      margin-bottom: 0;
      margin-left: 25px;
    }
  }

  &__result-message {
    display: none;
  }

  &__response-text {
    color: #4EB786;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.25s ease-out, transform 0.4s ease-out;

    &_active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__error-text {
    color: $pink;
  }
}

.button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  outline: none;
  padding: 11px 30px;
  position: relative;
  transition: 0.25s ease-in;
  user-select: none;

  &_primary {
    background-image: $linear-gradient-45deg;
    box-shadow: 0 5px 20px -5px #BA5083;
    color: white;

    &::before {
      content: url('/images/icn_angle-right.svg');
      left: 15px;
      margin-top: -10px;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translateX(-5px);
      transition: 0.2s ease-out;
    }

    &:hover {
      box-shadow: 0 3px 15px -3px #BA5083;

      &::before {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &:active {
      box-shadow: 0 1px 7px -3px #BA5083;
    }
  }

  &_send-animation {
    color: transparent;
    overflow: hidden;
    transition: color 0.15s ease-out;

    &::before {
      left: 110%;
      transition: 0.3s ease-in;
    }

    &::after {
      content: url('/images/loader.svg');
      animation: loader-show 0.5s ease-out 0.8s forwards;
      height: 30px;
      left: 50%;
      margin-left: -15px;
      margin-top: -14px;
      opacity: 0;
      position: absolute;
      top: 50%;
      width: 30px;

      @keyframes loader-show {
        100% {
          opacity: 1;
        }
      }
    }
  }

  &_disabled {
    pointer-events: none;
  }
}
</style>
