<template>
  <section class="section" id="idea">
    <h2 class="section__header">Идея</h2>
    <div class="section__text">
      <p>Я верю в&nbsp;то, что лучшие вещи в&nbsp;жизни&nbsp;&mdash; бесплатны. Это&nbsp;некоммерческий проект, помогающий интересным людям с&nbsp;такими&nbsp;же интересными проектами получить свое место в&nbsp;сети абсолютно бесплатно.</p>
      <p>Именно поэтому я&nbsp;делаю профессиональные, качественные сайты за&nbsp;спасибо.</p>
    </div>
  </section>
</template>
