<template>
  <section class="section section_bg-gray" id="me">
    <h2 class="section__header">Кто я</h2>
    <div class="section__text">
      <p>Меня зовут Юрий&nbsp;Костылев. Я&nbsp;занимаюсь разработкой сайтов уже 12&nbsp;лет. Делаю всё: от&nbsp;дизайна до&nbsp;публикации в&nbsp;сети. Сейчас работаю экспертом по&nbsp;пользовательским интерфейсам в&nbsp;«<a class="link" href="https://beeline.ru" target="_blank" rel="noopener noreferrer">билайне</a>».</p>
    </div>
  </section>
</template>
