<template>
  <section
    v-if="show"
    class="section section_bg-animation"
  >
    <h2 class="section__header section__header_inverse">Работа идет</h2>
    <div class="grid grid_stats">
      <div
        v-for="stat in stats"
        class="grid__item stat"
      >
        <strong
          v-html="stat.score"
          :class="{ 'stat__score_big': stat.big }"
          class="stat__score"
        />
        <div
          v-html="`${stat.what} ${stat.done} ${stat.when}`"
          :class="{ 'section__text': stat.big }"
          class="stat__caption"
        />
      </div>
    </div>
    <p class="stats-info">
      Данные собираются с&nbsp;личного ноутбука и&nbsp;обновляются по&nbsp;мере поступления.
      <span class="stats-info__block">Последнее обновление <strong v-html="updatedOn" /></span>
    </p>
    <div class="particles particles_background" />
    <div class="particles particles_foreground" />
  </section>
</template>

<script>
import axios from 'axios'
import { DateTime } from 'luxon'

export default {
  head: {
    script: [
      { src: '/js/particleground.min.js' }
    ]
  },

  data() {
    return {
      updatedOn: '...',
      stats: {
        todayKeys: {
          score: 0,
          what: '',
          done: '',
          when: 'сегодня',
          big: true
        },
        todayClicks: {
          score: 0,
          what: '',
          done: '',
          when: 'сегодня',
          big: true
        },
        yesterdayKeys: {
          score: 0,
          what: '',
          done: '',
          when: 'вчера'
        },
        yesterdayClicks: {
          score: 0,
          what: '',
          done: '',
          when: 'вчера'
        }
      }
    }
  },

  beforeMount() {
    let now = DateTime.local()
    let today = this.getEndPoints(now)
    let yesterday = this.getEndPoints(now.minus({days: 1}))

    const instance = axios.create({
      baseURL: 'https://api.whatpulse.org/'
    })

    instance.get(`pulses.php?user=yourkostylev&format=json&start=${today.start}&end=${today.end}`)
    .then(response => {
      this.stats.todayKeys.score = 0
      this.stats.todayClicks.score = 0
      for (let key in response.data) {
        if (response.data[key].Keys || response.data[key].Clicks) {
          this.stats.todayKeys.score += parseInt(response.data[key].Keys)
          this.stats.todayClicks.score += parseInt(response.data[key].Clicks)
        }
      }
      this.stats.todayKeys.what = this.declOfNum(this.stats.todayKeys.score, ['клавиша','клавиши','клавиш'])
      this.stats.todayKeys.done = this.declOfNum(this.stats.todayKeys.score, ['нажата','нажато','нажато'])
      this.stats.todayClicks.what = this.declOfNum(this.stats.todayClicks.score, ['клик','клика','кликов'])
      this.stats.todayKeys.score = this.digitize(this.stats.todayKeys.score)
      this.stats.todayClicks.score = this.digitize(this.stats.todayClicks.score)
    })

    instance.get(`pulses.php?user=yourkostylev&format=json&start=${yesterday.start}&end=${yesterday.end}`)
    .then(response => {
      this.stats.yesterdayKeys.score = 0
      this.stats.yesterdayClicks.score = 0
      for (let key in response.data) {
        if (response.data[key].Keys || response.data[key].Clicks) {
          this.stats.yesterdayKeys.score += parseInt(response.data[key].Keys)
          this.stats.yesterdayClicks.score += parseInt(response.data[key].Clicks)
        }
      }
      this.stats.yesterdayKeys.what = this.declOfNum(this.stats.yesterdayKeys.score, ['клавиша','клавиши','клавиш'])
      this.stats.yesterdayKeys.done = this.declOfNum(this.stats.yesterdayKeys.score, ['нажата','нажато','нажато'])
      this.stats.yesterdayClicks.what = this.declOfNum(this.stats.yesterdayClicks.score, ['клик','клика','кликов'])
      this.stats.yesterdayKeys.score = this.digitize(this.stats.yesterdayKeys.score)
      this.stats.yesterdayClicks.score = this.digitize(this.stats.yesterdayClicks.score)
    })
    .catch(error => {})
    .then(() => {
      if (this.show) {
        this.animateBgInit()
      }
    })

    instance.get('user.php?user=yourkostylev&format=json')
    .then(response => {
      let updatedOn = DateTime.fromSeconds(parseInt(response.data.LastPulseUnixTimestamp))
      let months = [
        'января',
        'февраля',
        'марта',
        'апреля',
        'мая',
        'июня',
        'июля',
        'августа',
        'сентября',
        'октября',
        'ноября',
        'декабря'
      ]
      let minute = updatedOn.c.minute.toString().length > 1 ? updatedOn.c.minute : '0' + updatedOn.c.minute.toString()
      let day = updatedOn.ts / 1000 >= today.start && updatedOn.ts / 1000 <= today.end ? 'сегодня' :
                updatedOn.ts / 1000 >= yesterday.start && updatedOn.ts / 1000 <= yesterday.end ? 'вчера' : `${updatedOn.c.day}&nbsp;${months[updatedOn.c.month - 1]} ${updatedOn.c.year}`
      this.updatedOn = `${day} в&nbsp;${updatedOn.c.hour}:${minute}`
    })
  },

  computed: {
    show: function () {
      return parseInt(this.stats.todayKeys.score)
           + parseInt(this.stats.todayClicks.score)
           + parseInt(this.stats.yesterdayKeys.score)
           + parseInt(this.stats.yesterdayClicks.score)
           > 0
    }
  },

  methods: {
    getEndPoints(moment) {
      return {
        start: Math.ceil(moment.startOf('day').toSeconds()),
        end: Math.ceil(moment.endOf('day').toSeconds())
      }
    },
    digitize(value) {
      value = value.toString()
      if (value.length > 4) {
        return value.replace(/(\d)(?=(\d{3})+$)/g, '$1&thinsp;')
      } else {
        return value
      }
    },
    declOfNum: function(number, titles) {
      let cases = [2, 0, 1, 1, 1, 2]
      return titles[ (number%100 > 4 && number%100 < 20) ? 2 : cases[(number%10<5) ? number%10 : 5] ]
    },
    animateBg(fg, bg) {
      particleground(fg, {
        dotColor: 'rgba(255, 255, 255, 1)',
        lineColor: 'rgba(255, 255, 255, 0.1)',
        minSpeedX: 0.3,
        maxSpeedX: 0.6,
        minSpeedY: 0.3,
        maxSpeedY: 0.6,
        density: 50000, // One particle every n pixels
        curvedLines: false,
        proximity: 250, // How close two dots need to be before they join
        parallaxMultiplier: 10, // Lower the number is more extreme parallax
        particleRadius: 4, // Dot size
      })
      particleground(bg, {
        dotColor: 'rgba(255, 255, 255, 0.5)',
        lineColor: 'rgba(255, 255, 255, 0.1)',
        minSpeedX: 0.075,
        maxSpeedX: 0.15,
        minSpeedY: 0.075,
        maxSpeedY: 0.15,
        density: 30000, // One particle every n pixels
        curvedLines: false,
        proximity: 20, // How close two dots need to be before they join
        parallaxMultiplier: 20, // Lower the number is more extreme parallax
        particleRadius: 2, // Dot size
      })
    },
    animateBgInit() {
      let fg = document.querySelector('.particles_foreground')
      let bg = document.querySelector('.particles_background')
      if (fg && bg) {
        this.animateBg(fg, bg)
      } else {
        setTimeout(() => {
          this.animateBgInit()
        }, 100)
      }
    }
  }
}
</script>

<style lang="scss">
@import '~assets/css/variables.scss';
@import '~assets/css/grid.scss';

.stat {
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: $desktop) {
    margin-bottom: 24px;
  }

  &__score {
    color: $pink;
    font-size: 30px;
    width: 100%;

    &_big {
      // font-size: 48px;
      font-size: 56px;

      // @media (min-width: $desktop) {
      //   font-size: 56px;
      // }
    }
  }

  &__caption {
    color: $white;
  }
}

.stats-info {
  color: $white;
  margin-top: 32px;
  position: relative;
  z-index: 1;

  @media (min-width: $desktop) {
    margin-top: 48px;
  }

  &__block {
    @media (min-width: 620px) and (max-width: 729px) {
      display: block;
    }

    @media (min-width: 778px) {
      display: block;
    }
  }
}

.particles {
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  transform: scale(.5);
  transition: .3s;
  width: 200%;
  z-index: 0;

  &_background {
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  }
}
</style>
