@import '~assets/css/variables.scss';

.grid {
  $grid-gap: 40px;

  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: $grid-gap;
  margin-bottom: calc(-#{$grid-gap} + 20px);
  position: relative;
  z-index: 1;

  &_stats {
    margin-top: 24px;

    @media (min-width: $desktop) {
      margin-top: 0;
    }
  }

  &__item {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $grid-gap;
    width: 100%;

    @media (min-width: 515px) {
      width: calc(50% - #{$grid-gap});

      &:nth-child(2n+1) {
        margin-right: $grid-gap;
      }

      &:nth-child(2n) {
        margin-left: $grid-gap;
      }
    }

    @media (min-width: 950px) {
      align-items: center;
      flex-wrap: nowrap;
    }

    &-icon {
      margin-right: 40px;

      #icn_v-card {
        &__el1,
        &__el2,
        &__el3,
        &__el4 {
          transition: ease-in;
        }

        &__el1,
        &__el2,
        &__el3 {
          animation: icn_v-card__scale-up 5s infinite;
          transform-origin: 20px 20px;
        }

        &__el4 {
          animation: icn_v-card__scale-down 5s infinite;
        }

        @keyframes icn_v-card__scale-up {
          0%, 20%, 93%, 100% {
            transform: scale(0);
          }

          30%, 90% {
            transform: scale(1);
          }
        }

        @keyframes icn_v-card__scale-down {
          0%, 35%, 100% {
            opacity: 0;
            transform: scale(2.5);
          }

          40%, 90% {
            opacity: 1;
            transform: scale(1);
          }

          93% {
            opacity: 0;
            transform: scale(1);
          }
        }
      }

      #icn_promo {
        &__el1,
        &__el2 {
          transition: ease-in;
        }

        &__el1 {
          animation: icn_promo__rotate 4s infinite;
          transform-origin: center 52px;
        }

        &__el2 {
          animation: icn_promo__splash 4s infinite;
          transform-origin: center;
        }

        @keyframes icn_promo__rotate {
          0%, 15% {
            transform: rotate(0deg);
          }

          25%, 100% {
            transform: rotate(216deg);
          }
        }

        @keyframes icn_promo__splash {
          0%, 30%, 100% {
            transform: scale(1);
          }

          10% {
            transform: scale(0.85);
          }

          20% {
            transform: scale(1.15);
          }
        }
      }

      #icn_slides {
        &__el1,
        &__el2 {
          transform-origin: center 25px;
          transition: ease-in;
        }

        &__el1 {
          animation: icn_slides__stretch 5s infinite, icn_slides__color-change 5s infinite;
        }

        &__el2 {
          animation: icn_slides__stretch 5s infinite;
        }

        @keyframes icn_slides__stretch {
          0%, 10%, 25%, 35%, 50%, 60%, 75%, 85%, 100% {
            transform: scaleY(1);
          }

          15%, 40%, 65%, 90% {
            transform: scaleY(1.1);
          }
        }

        @keyframes icn_slides__color-change {
          0%, 10%, 100% {
            fill: #EFD664;
          }

          25%, 35% {
            fill: #8ADEDE;
          }

          50%, 60% {
            fill: #EFD664;
          }

          75%, 85% {
            fill: #FFADE2;
          }
        }
      }

      #icn_catalog {
        &__el1,
        &__el2,
        &__el3,
        &__el4 {
          transform-style: flat;
          transition: ease-out;
          animation: icn_catalog__blink 2.2s infinite;
        }

        &__el1 {
          animation-delay: 2.1s;
          transform-origin: 16px 61px;
        }

        &__el2 {
          animation-delay: 0.75s;
          transform-origin: 45px 15px;
        }

        &__el3 {
          animation-delay: 0.3s;
          transform-origin: 66.5px 22.5px;
        }

        &__el4 {
          animation-delay: 1.2s;
          transform-origin: 86px 57px;
        }

        @keyframes icn_catalog__blink {
          0% {
            opacity: 0;
            transform: scale(0) rotate(0deg);
          }

          50% {
            opacity: 1;
            transform: scale(1.2) rotate(180deg);
          }

          80% {
            opacity: 1;
            transform: scale(1) rotate(180deg);
          }

          100% {
            opacity: 0;
            transform: scale(0) rotate(180deg);
          }
        }
      }
    }

    &-text {
      margin-top: 10px;
      width: 100%;

      @media (min-width: 950px) {
        margin-top: 0;
        width: initial;
      }
    }
  }
}
