@page {
  margin: 0;
}

body {
  background-color: #F5F5F7;
  color: $body-text-color;
  font-family: $font-family;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1.5;
  padding: 12px;
  transition: background-color 2s ease-in;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.33;
  }

  &.bg-dark {
    background-color: #3b3b4a;
    transition: 3.5s ease-in-out;
  }
}

.wrapper {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0, .05);
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}

p {
  margin-bottom: 0;
}

.quote-shift {
  margin-left: -.5em;
}

.link {
  background-color: #F9E6FF;
  color: $pink;
  text-decoration: none;
}

.text-long {
  display: block;
  line-height: 1.5;
  margin-bottom: 25px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .4s ease-in-out;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transition: none;
}
