$desktop: 730px;

$header-text-color: #333;
$body-text-color: #222;
$lite-black: #656565;
$white: #F2F2F2;
$pink: #FD236F;
$lilac: #BF6DD7;
$bg-gray: #F7F7F7;
$linear-gradient-45deg: linear-gradient(45deg, #FD236F, #BF6DD7);

$wrapper-horizontal-padding: 6.75%;

$font-family: 'Source Sans Pro', Arial, sans-serif;
