<template>
  <div>
    <Hero />
    <main role="main">
      <Idea />
      <Me />
      <ForWhat />
      <WhoCanPretend />
      <WhatToOrder />
      <Stats />
      <SendRequest />
    </main>
  </div>
</template>

<script>
export default {
  components: {
    Hero: () => import('~/components/Hero.vue'),
    Idea: () => import('~/components/Idea.vue'),
    Me: () => import('~/components/Me.vue'),
    ForWhat: () => import('~/components/ForWhat.vue'),
    WhoCanPretend: () => import('~/components/WhoCanPretend.vue'),
    WhatToOrder: () => import('~/components/WhatToOrder.vue'),
    Stats: () => import('~/components/Stats.vue'),
    SendRequest: () => import('~/components/SendRequest.vue'),
  }
}
</script>
